// Dependencies
@import "dependencies";

.navbar {
    .icon, .user-avatar {
        margin-right: 0.25rem;
    }
}

.level {
    .level-item {
        .icon:first-child:not(:last-child) {
            margin-right: 0.25rem;
        }
        &[disabled] {
            pointer-events: none;
            opacity: 0.4;
        }
    }
}
